.page-1 {
	display: ;
	width: 100%;
}

.record-form { /* форма записи */
	width: 1100px;
	height: 700px;
	margin-left: 16%;
	margin-top: 5%;
}

.record-form__body {/* тело формы */
}


.record-form__title {/* заголовок формы */
	margin-left: 10%;
	font-family: HelveticaNeueCyr;
	font-style: normal;
	font-weight: 550;
	font-size: 16px;
	line-height: 16px;
	color: #465054;
}

.record-form__frame{
	width: 980px;
	background: #FFFFFF;
	border: 1px solid #E5E5E5;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 2%;
}


.record-form__subtitle{
	display: grid;
	grid-template-columns:  2fr 2fr 1fr;
	grid-template-rows: 28px;
	font-family: HelveticaNeueCyr;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 16px;
	color: #505565;
	margin-top: 40px;
	margin-left: 16px;
}

.record-form__form {/* сама форма */
	display: grid;
}

.record-form__fieldset {/* группа полей */
	display: grid;
	grid-template-columns:  2fr 2fr 1fr;
	grid-template-rows: repeat(2, 48px);
	grid-gap: 20px;
	border:0px;
}
.record-form__input { /* поля ввода */
	display: grid;
	padding-left: 14.03px;
	background: #FFFFFF;
	border: 1px solid #A1A4B1;
	box-sizing: border-box;
	border-radius: 4px;
}

.record-form__input:nth-child(7) { /* 6ое поле ввода */
	width:65px;
}


.policy {
	width: 100%;
}

.policy__wrapper{
	display: flex;
	margin-top: 30px;
}

.checkbox_input {
	display: flex;
}
.checkbox_label {
	display: flex;
}
.policy__text {
	display: flex;
	font-family: HelveticaNeueCyr;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	align-items: center;

	/* Text / 02 */
	color: #505565;
}

.policy__button{
	display: flex;
	margin-left: 275px;
}

.button { /* кнопка */
	text-align: center;
	font-family: HelveticaNeueCyr;
	font-style: normal;
	font-weight: 550;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.5px;
	width: 200px;
	height: 48px;
	background: #E91A23;
	border-radius: 4px;
	color: #FFFFFF;
 }

.radiobuttons{
	display: flex;
	position: relative;
	width: 100%;
	margin-top:10%;
}

.radiobuttons__choose-question-title {/* вопрос в поле выбора */}

.radiobuttons_frame{
	display: grid;
	grid-template-columns:  1fr 1fr;
	width: 50%;
	position: absolute;
	right: 2%;
	align-items: right;
	padding-top: 7px;
	padding-bottom: 18px;
	padding-left:10px;
	border: 1px solid #A1A4B1;
	border-radius: 4px;
}

.radio {
	position: relative;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 15px;
  }

/* СТИЛИЗУЕМ РАДИОКНОПКИ - СТАРТ - */

   .radio_input {
    -webkit-appearance: none;/* Chrome */
      -moz-appearance: none;/* Firefox */
    appearance: none;/* убираем стандартные кружочки */
    position: absolute;
}

 .radio_label {
    padding-left: 0px;/* отступ слева */
    font-size: 1rem;
    color: #444;
    cursor: pointer; /* курсор рука */
}

 .radio_label:before {
    content: "";
    width: 16px; /* ширина блока */
    height: 16px;/* высота блока */
    border: 1px solid #ccc;/* рамка */
    background-color: #fff; /* цвет фона */
    border-radius: 50%;/* получаем круг */
    position: absolute;/* расположен точно в родителе */
    top: 0; /* расстояние от верха родителя */
    left: 0;/* расстояние слева от родителя */
      z-index: 1; /* на нижнем слое */
    transition: border .1s linear;/* плавный переход для border */
}

 .radio_label:after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #E91A23;
    border-radius: 50%;
    opacity: 0; /* полностью прозрачный */
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 2;/* на верхнем слое */
    transition: opacity .1s linear; /* плавный переход для opacity */
}

.radio_input:checked + .radio_label:before {
    border-color: #E91A23;
}

 .radio_input:checked + .radio_label:after {
    opacity: 1;
}
/* СТИЛИЗУЕМ РАДИОКНОПКИ - КОНЕЦ - */